{% extends "main.html" %}

{% block htmltitle %}
<title>{{config.site_name}} | {{page.title}}</title>
{% endblock %}

{% block tabs %}
{{ super() }}
{% endblock %}

{% block content %}

<style>
    .client-card {
        border-radius: 4px;
        border: 1px solid #eaeaea;
        padding: 0px 10px;
        box-shadow: none;
        transition: 0.4s !important;
    }

        .client-card:hover {
            box-shadow: 0 0 5px 1px #f0f0f0;
        }

    .client-grid {
        display: grid;
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .client-grid {
            column-gap: 0px;
            row-gap: 25px;
            grid-template-columns: 1fr;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .client-grid {
            column-gap: 25px;
            row-gap: 25px;
            grid-template-columns: 1fr 1fr;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .client-grid {
            column-gap: 25px;
            row-gap: 25px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .client-grid {
            column-gap: 50px;
            row-gap: 50px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .client-grid {
            display: grid;
            column-gap: 50px;
            row-gap: 50px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
</style>

<div style="background: black;position: fixed;top: -200px;right: 375px;height: 200%;width: 202px;opacity: 0.05; z-index:-100; transform: rotate(35deg);"></div>

<section class="">
    <div class="">
        <div class="client-grid">
            {% for page in pages|selectattr("page.meta.sort")|sort(attribute="page.meta.sort")  %}
            {% if 'clients/' in page.src_uri %}
            <a href="{{page.name}}" class="client-card" style="background:white;">
                <div>
                    <h3 style="background-color:white; margin: 0; border-bottom: 1px solid #eaeaea; padding-top: 10px; padding-bottom: 10px; color: var(--md-default-fg-color--light); ">{{page.page.meta.title}}</h3>
                    <img style="width:80%; margin:auto; display:block; margin-top:15px; margin-bottom:15px;" src="{{page.page.meta.logo}}" />
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
